sudo: false

language: php

php:
    - hhvm
    - 7.1
    - 7.0
    - 5.6
    - 5.5

matrix:
    fast_finish: true
    allow_failures:
        - php: hhvm

install:
    - composer install

script:
    - phpunit
